/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.2;
}

ol,
ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* init */
body {
  /* TODO */
  opacity: 0.0001;
}

body.ready {
  opacity: 1;
  transition: 0.1s opacity;
}

/* scrollbars */
:root {
  --sb-wdt: 7px;
  --sb-brd: 1px;
}

::-webkit-scrollbar {
  width: var(--sb-wdt);
  height: var(--sb-wdt);
}

::-webkit-scrollbar-track {
  background: var(--sb-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--sb-fg);
  border: var(--sb-brd) solid var(--sb-bg);
  border-radius: var(--sb-wdt);
}

::-webkit-scrollbar-thumb:hover {
  border-color: var(--sb-fg);
}
